In [160]:
#Exercise 1  plan of attack . 
import math
math.sqrt(25)
math.pi
import math as mt
mt.sqrt(25)
import math as cuadrado
cuadrado.sqrt(4)
import numpy
from numpy import random
import numpy as np
import scipy
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

from numpy import random
import numpy as np
# uniform random numbers in [0,1]
dataOne = random.rand(1,5)
np.mean(dataOne)

print('I Love data Science')

variableName = 25
variableName1 = 'I Love data Science'
print(variableName1, variableName)
type(variableName)

varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)


listOne = [-1,0,1,2,3,4]
print(listOne[1:3])
print(listOne[0:6])

tel = {'jack': 4098, 'sape': 4139}
tel['jack']+2

I Love data Science
I Love data Science 25
50.0
[0, 1]
[-1, 0, 1, 2, 3, 4]

4100

In [187]:
#2. Using the Python Interpreter
the_world_is_flat =True
if the_world_is_flat: print("Be careful not to fall off!")

Be careful not to fall off!

In [197]:
#3 3. An Informal Introduction to Python
2+2

4

In [199]:
50 -5*6

20

In [200]:
8 / 5

1.6

In [201]:
8/4

2.0

In [208]:
int (2)

2

In [207]:
float(2)

2.0

In [209]:
17 / 3  # classic division returns a float
5.666666666666667

5.666666666666667

In [211]:
17 // 3  # floor division discards the fractional part
5

5

In [212]:
17 % 3  # the % operator returns the remainder of the division

2

In [213]:
5 * 3 + 2  # result * divisor + remainder
17

17

In [214]:
a= 17 % 3

In [215]:
17//3 +a

7

In [225]:
17//3 + (a*10/3)/10

5.666666666666667

In [227]:
>>> 5 ** 2  # 5 squared

25

100 %5

In [229]:
100 % 5

0

In [253]:
largo= 16
ancho =4
area =largo * ancho
areacuadrado = area
print (areacuadrado)

64

In [287]:
IVA = 13 / 100
price = 119.88
subtotal= price * IVA
total= price + subtotal
print('IVA:', subtotal , 'Subtotal:', price, 'Total:', total)

IVA: 15.5844 Subtotal: 119.88 Total: 135.46439999999998

In [312]:
prefix = test
(prefix +'thon')
prefix

'Py'

In [18]:
st= 'agua'
len(st)

4

In [20]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [21]:
squares + [1, 1, 1, 1, 1]

[1, 4, 9, 16, 25, 1, 1, 1, 1, 1]

In [24]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [30]:
letters[2:5] = ['z', 'y', 'x']
letters

['a', 'b', 'z', 'y', 'x', 'f', 'g']

In [56]:
>>> x = int(input("Please enter an integer: "))

>>> if x < 0:
...     x = 0
...     print('Negative changed to zero')
... elif x == 0:
...     print('Zero')
... elif x == 1:
...     print('Single')
... else:
...     print('More')
...

Please enter an integer: 0
Zero

In [59]:
>>> # Measure some strings:
... words = ['cat', 'window', 'defenestrate']
>>> for w in words:
...     print(w, len(w))
...

cat 3
window 6
defenestrate 12

In [71]:
>>> for i in range(1+2):
...     print(i)
...

0
1
2

In [79]:
>>> a = ['Mary', 'had', 'a', 'little', 'lamb']
>>> for i in range(len(a)):
...     print(i, a[i])
...

0 Mary
1 had
2 a
3 little
4 lamb

In [85]:
>>> for n in range(2, 10):
...     for x in range(2, n):
...         if n % x == 0:
...             print(n, 'equals', x, '*', n//x)
...             break
...     else:
...         # loop fell through without finding a factor
...         print(n, 'is a prime number')
...

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [89]:
>>> for num in range(2, 10):
...     if num % 2 == 0:
...         print("Found an even number", num)
...         continue
...     print("Found a odd number", num)

Found an even number 2
Found a odd number 3
Found an even number 4
Found a odd number 5
Found an even number 6
Found a odd number 7
Found an even number 8
Found a odd number 9

In [91]:
>>> def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()
...
>>> # Now call the function we just defined:
... fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [103]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [105]:
parrot(1000)                                          # 1 positional argument
parrot(voltage=1000)                                  # 1 keyword argument
parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't voom if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [116]:
>>> def make_incrementor(n):
...     return lambda x: x + n
...
>>> f = make_incrementor(3)
>>> f(1)
>>> f(1)

4

In [129]:
#5 Data Structure    para contar 
>>> fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
>>> fruits.count('kiwi')
>>> fruits.append('grape')

>>> fruits
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
>>> fruits.pop(1)
>>> fruits
>>> fruits.append('apple')
>>> fruits
>>> stack = [3, 4, 5]
>>> stack.append(6)
>>> stack.append(7)
>>> stack

[3, 4, 5, 6, 7]

In [131]:
>>> from collections import deque
>>> queue = deque(["Eric", "John", "Michael"])
>>> queue.append("Terry")           # Terry arrives
>>> queue.append("Graham")          # Graham arrives
>>> queue.popleft()                 # The first to arrive now leaves

'Eric'

In [135]:
>>> matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]
>>> [[row[i] for row in matrix] for i in range(4)]
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
>>> transposed = []
>>> for i in range(4):
...     transposed.append([row[i] for row in matrix])
...
>>> transposed
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [137]:
>>> transposed = []
>>> for i in range(4):
...     # the following 3 lines implement the nested listcomp
...     transposed_row = []
...     for row in matrix:
...         transposed_row.append(row[i])
...     transposed.append(transposed_row)
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [141]:
>>> list(zip(*matrix))
[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]
>>> a = [-1, 1, 66.25, 333, 333, 1234.5]
>>> del a[0]
[1, 66.25, 333, 333, 1234.5]
>>> del a[2:4]
[1, 66.25, 1234.5]
>>> del a[:]
[]

[]

In [143]:
>>> basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
>>> print(basket)                      # show that duplicates have been removed

{'apple', 'orange', 'pear', 'banana'}

In [145]:
>>> 'orange' in basket                 # fast membership testing

True

In [146]:
>>> # Demonstrate set operations on unique letters from two words
...
>>> a = set('abracadabra')
>>> b = set('alacazam')
>>> a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [148]:
>>> a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [150]:
>>> a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [152]:
>>> tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [154]:
>>> dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [156]:
>>> {x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [158]:
>>> dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [160]:
>>> knights = {'gallahad': 'the pure', 'robin': 'the brave'}
>>> for k, v in knights.items():
...     print(k, v)
...

gallahad the pure
robin the brave

In [162]:
>>> for i, v in enumerate(['tic', 'tac', 'toe']):
...     print(i, v)

0 tic
1 tac
2 toe

In [164]:
>>> questions = ['name', 'quest', 'favorite color']
>>> answers = ['lancelot', 'the holy grail', 'blue']
>>> for q, a in zip(questions, answers):
...     print('What is your {0}?  It is {1}.'.format(q, a))
...

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [165]:
>>> string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
>>> non_null = string1 or string2 or string3
>>> non_null

'Trondheim'